@media only screen and (max-width: 1200px) {
   body {
      header {
         .hero-text-box {
            padding: 0 2%;
            width: 100%;
         }
      }

      .row {
         padding: 0 2%;
      }
   }
}


@media only screen and (max-width: 1023px) {
   body {
      font-size: 18px;
      header .nav .row ul {
         list-style: none;
         display: block;
         float: right;
         margin-top: 30px;

         li {
            display: inline-block;
            margin-left: 40px;

            a:link,
            a:visited {
               text-decoration: none;
               color: #FFF;
               padding: 10px 0;
               font-size: 90%;
               border-bottom: 2px solid transparent;
               transition: border-bottom 0.5s;
            }

            a:hover,
            a:active {
               border-bottom: 2px solid #e67e22;

            }
         }
      }
    

      .section {
         padding: 20px 0;

         .row {
            .long-copy {
               width: 80%;
               margin-left: 10%;
            }

            .steps-box:first-child {
               margin-top: 20px;

               .app-screen {
                  width: 50%;
               }
            }

            .steps-box:last-child {
               margin-top: 20px;

               .work-step {
                  margin-bottom: 40px;
               }

               .work-step:last-of-type {
                  margin-bottom: 50px;
               }

               .btn-app img {
                  height: 45px;
                  
              
               }
            }
         }
      }

      .section-cities {
         font-size: 90%;

         .row .col .info-cities .icon-small {
            margin-right: 5px;
            width: 20px;
         }
      }

      .section-signUp-plans .row .col .plan-box {
         width: 100%;
         margin-left: 0;

         .title-plan .plan-price {
            font-size: 250%;
         }
      }

      .section-form .row .contact-form {
         width: 80%;
      }

   }
}


@media only screen and (max-width: 767px) {
   body {
      font-size: 16px;

      .row,
      header {
         .hero-text-box {
            padding: 0 4%;
         }

         .nav .row {
            margin: 0 20px;
           
            .menu {
               display: none;
               float: left;
               margin-top: 20px;
               margin-left: 20px;

               li {
                  display: block;

                  a:link,
                  a:visited {
                     display: block;
                     border: none;
                     font-size: 100%;
                     padding: 10px 0;
                  }     
               }
            }

            .mobile-nav-icon {
               display: inline-block;
               margin-top: 20px;
               i{
                  font-size: 200%;
                  color: #FFF;
                  display: inline-block;
                  
               } 
            }  
         }

         /*----STICKY------*/
         .sticky {
            .row {
               .menu {
                  margin: 5px 0;
                  li {      
                     a:link,
                     a:visited {           
                        padding: 10px;
                     }
                  }
               }
               .mobile-nav-icon {
                 
                  margin-top: 5px;
                  i {
                     font-size: 200%;
                     color: #555;
                     display: inline-block;                   
                  } 
               }
            }
         }
      } 

      .col {
         width: 100%; 
         margin: 0 0 4% 0;
      }

      .section .row {
         h1 {
            font-size: 180%;
         }
         h2 {
            font-size: 150%;
         }
         h3 {
            font-size: 120%;
         }

         .long-copy {
            width: 100%;
            margin-left: 0%;
         }
         
         /*-----STEPS-WORK-----*/
         .steps-box:first-child {
            margin-top: 10px;
            text-align: center;
            padding-right: 0;
            .app-screen  {
               width: 30%;
            }
         }

         .steps-box:last-child {
            padding-left: 0;
            .work-step:last-of-type {
               margin-bottom: 30px;
            }

            .work-step {
               margin-bottom: 20px;
               
               display: inline-block;
               width: 100%;
               .num {
                  width: 40px;
                  height: 40px;
                  margin-right: 15px;   
               }
               p {
                  vertical-align: middle;
                  font-size: 18px; 
                  display: table-cell;
                  vertical-align: middle;     
               }
            }     
         }
      
      }
      /*----CITIES------*/
      .section-cities .row .col .info-cities .icon-small {
            width: 30px;    
      }
       /*----CUSTOMERS------*/
      .section-customers .row .col {
         margin-bottom: 10%;
         blockquote:before {
            font-size: 350%;
         }
      }
   }
}


@media only screen and (max-width: 480px) {
   body {
      header {
         h1 {
            font-size: 100%;
         }
         .btn {
            margin-bottom: 2%;
         }
      }

      .section {
         padding: 2% 0;
         .contact-form {
            width: 100%;
         }
      }
   }
}